.order-details-container {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  margin-bottom: 2em;
}

.order-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 0.1em solid darkgray;
  border-left: none;
  border-radius: 2%;
  height: 120px;
}

img {
  height: 70%;
  border: 0.1em solid darkgray;
  border-radius: 5%;
}

.product-name {
  color: white;
  font-size: 24px;
  font-weight: 500;
  width: 5em;
}

.details {
  color: darkgrey;
  font-size: 20px;
  font-weight: 500;
  width: 4em;
}

.size {
  width: 3em;
}

.customer-initials {
  border: 0.1em solid darkgray;
  border-radius: 5%;
  color: white;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 1em;
  text-transform: uppercase;
}

.status {
  width: 2%;
  border-radius: 5%;
  height: 100%;
  border: 0.1em solid darkgray;
}

.Out-of-stock {
  background-color: red;
}

.Ready-to-try {
  background-color: blue;
}

.In-the-queue {
  background-color: orange;
}

.On-the-way {
  background-color: green;
}
