.pagination {
  display: flex;
  width: 50%;
  float: right;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-right: 4em;
}

.pagination-icons {
  display: flex;
  justify-self: center;
  margin-top: 0;
}

.active {
  background-color: green;
}

.disabled {
  background-color: lightgray;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0.5em;
  display: inline-block;
}

.page-number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: darkgrey;
  font-weight: bold;
}
