.pagination {
  display: inline-block;
}

.pagination-icons {
  text-align: center;
}

.active {
  background-color: white;
}

.disabled {
  background-color: black;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0.5em;
  display: inline-block;
}

.page-number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: darkgrey;
  font-weight: bold;
}
